@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #0f172a;
}

a {
  color: inherit;
}

#root {
  min-height: 100vh;
}
